/* HEADER */

.Header {
    background-color: royalblue;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.small-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* FOOTER */

.Footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: red
}

/* MAIN */

.Main {
    height: 30vh;
    width: 100vw;
   background-color:lightgreen; 
}

.main-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

/* SHARE */

.share {
    background-color: salmon;
    width: 100vw;
    height: 10vh;
}

/* ABOUT */

.About {
    height: 30vh;
    width: 100vw;
    background-color: darkorange;
}

/* ACTIVITY  */

.Activity {
    height: 50vh;
    width: 100vw;
    background-color: mediumpurple;
}